<p id="notice"><%= notice %></p>

<h1>Kitchen Tools</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kitchen_tools.each do |kitchen_tool| %>
      <tr>
        <td><%= kitchen_tool.name %></td>
        <td><%= kitchen_tool.type %></td>
        <td><%= link_to 'Show', kitchen_tool %></td>
        <td><%= link_to 'Edit', edit_kitchen_tool_path(kitchen_tool) %></td>
        <td><%= link_to 'Destroy', kitchen_tool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kitchen Tool', new_kitchen_tool_path %>
