<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kitchen_tool.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @kitchen_tool.type %>
</p>

<%= link_to 'Edit', edit_kitchen_tool_path(@kitchen_tool) %> |
<%= link_to 'Back', kitchen_tools_path %>
