<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

  <div class="row">
    <% @recipes.each do |recipe| %>
        <div class="col-md-3">
          <div class="thumbnail">
        <h3><%= recipe.title %></h3>
        <p>Description:<%= recipe.description %></p>
        <p>Instructions:<%= recipe.instructions %></p>
        <p><% recipe.ingredients.each do |ingredient| %>
          <ul>
            <li><%= ingredient.name %> </li>
          </ul>
          <% end %>


        </p>
          </div>
      </div>
    <% end %>
 </div>
   
<br>

<%= link_to 'New Recipe', new_recipe_path %>


