<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

  <div class="row">
    <% @recipes.each do |recipe| %>
        <div class="col-md-3">
          <div class="thumbnail">
        <h3><%= recipe["recipeName"] %></h3>
        <p>Ingredients:<%= recipe["ingredients"] %></p>
        <p><%= recipe["imageUrlBySize"] %></p>
        <p>Display Name: <%= recipe["sourceDisplayName"] %></p>
        <p>ID: <%= recipe["id"] %></p>
        <p>Total Time In Seconds: <%= recipe["totalTimeInSeconds"] %></p>
        <p>Flavors: <%= recipe["flavors"] %></p>
        <p>Rating: <%= recipe["rating"] %></p>

      <%= link_to 'Save Ingredients', {:controller => 'ingredients'}, {:method => :post} %>
      <%= link_to 'Save Recipes', {:controller => 'recipes'}, {:method => :post} %>
       
          </div>
      </div>
    <% end %>
 </div>
   
<br>

<%= link_to 'New Recipe', new_recipe_path %>


