<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @ingredient.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ingredient.description %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
