<!DOCTYPE html>
<html>
  <head>
    <title>KitchAssist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  
  <!--bcrypt code-->
  <div class="navbar-right">
      <% if current_member %>
        Signed in as <%= current_member.username %> | <%= link_to "Logout", '/logout' %>
      <% else %>
        <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
  
      <% end %>
  </div>

  
  
    <%= yield %>
  </body>
</html>

