<!DOCTYPE html>
<html lang="en">
<head>
<title>KitchAssist</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="" name="description">
<meta content="" name="author">
<!-- Favicons -->
<!-- <link rel="shortcut icon" href="favicon.png">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
 -->

<link href='https://fonts.googleapis.com/css?family=Catamaran:400,600,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="index" id="page-top">
<!-- Loader -->
<div class="se-pre-con"></div>
<!-- /.Loader -->

<!-- Navigation -->
<nav id="navigation-single" class="navbar navbar-default nav-justified navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle are grouped for better mobile display -->
    
    <div class="navbar-header page-scroll">
      <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
    </div>
    <!-- Navigation Links -->
<!-- -->
<div> 
    </div>
 <!-- -->   
    <div class="collapse navbar-collapse" id=
            "bs-example-navbar-collapse-1">
      <ul class="nav nav-justified">
        <li class="hidden"> <a href="#page-top"></a> </li>
        <% if current_member %>
        <li>Signed in as <a href="/members/<%= current_member.id %>" class="navbar-link"><%= current_member.username %></a></li>
        <% end %>

            <% if current_member %>
              <li><%= link_to "Add to Pantry", "/ingredients", class: "page-scroll" %></li>
              <li><%= link_to "Pantry", "/pantry_items", class: "page-scroll" %></li>
              <li><%= link_to "Logout", '/logout', class: "page-scroll" %></li>
    
            <% else %>
              <li><%= link_to 'Login', '/login', class: "page-scroll" %></li>
              <li><%= link_to 'Signup', '/signup', class: "page-scroll" %></li>
            <% end %>          
        
<!-- SEARCH BAR -->
            <% if current_member %>
              <li>
                <%= form_tag '/recipes', method: :get, class: "navbar-form navbar-right" do %>
                  <div class="form-group">
                    <%= text_field_tag :search_term, nil, class: "form-control", placeholder: "Search Recipes" %>
                  </div>
                <%= submit_tag "Search", class: "btn btn-default" %>
                <% end %>
            <% end %>
              </li>
        </ul>

    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>
<!-- /.Navigation --> 


<%= yield %>

<!-- Footer -->





</body>
</html>