<!DOCTYPE html>
<html>
  <head>
    <title>KitchAssist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  
  <!--bcrypt code-->
  <div class="navbar-right">
      <% if current_member %>
        Signed in as <%= current_member.username %> | <%= link_to "Logout", '/logout' %>
      <% else %>
        <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
  
      <% end %>
  </div>

  <div>
    <%= form_tag '/recipes', method: :get, class: "navbar-form navbar-right" do %>
          <div class="form-group">
            <%= text_field_tag :search_term, nil, class: "form-control", placeholder: "Search" %>
          </div>

          <%= submit_tag "Search", class: "btn btn-default" %>
        <% end %>
  </div>

  
  
    <%= yield %>
  </body>
</html>

