<h2>Adding Pantry Items For:</h2>


<% @ingredients.each do |ingredient| %>
	<%= ingredient.name %>

<%= form_tag "/pantry_items", method: :post do %>

<%= hidden_field_tag :ingredient_id, ingredient.id %>
<%= hidden_field_tag :current_member_id, current_member.id %>

<%= text_field_tag :quantity, nil, placeholder: "quantity" %>

<%= text_field_tag :units, nil, placeholder: "units" %>

<%= submit_tag 'Add' %>

<% end %>
<% end %>